#react {
	background-color: aqua;
}

.gameIDForm {
	text-align: center;
	font-family: "PT sans", sans;

}

body {
	background-color: lightpink;
	margin-bottom: 30px;
}

header {
	background-color: #ccffff;
	border-style: solid;
	border-color: black;
	background-size: contain;
	background-repeat: no-repeat;
}

ul li {
	padding-bottom: 5px;
}

.head {
	background-color: #66ccff;
}

.head h1 {
	text-align: center;
	font-family: "PT sans", sans;
}

.head h3 {
	font-family: "PT sans", sans;
}

.head a {
	text-decoration: none;
}

.headerFlex{
	display: flex;
	flex-direction: column;
}

.navFlex ul {
	display: flex;
	list-style: none;
	justify-content: space-around;
	padding: 10px;
	padding-right: 200px;
	padding-left: 200px;
	margin: 0px;
}

.navFlex ul:hover {
	background-color: #ccffff;
	transition: 0.3s;
}

.navFlex a {
	font-family: "PT sans", sans;
	text-decoration: none;
}

.flexContainer {
	display: flex;
}

.bob-image {
    height: 200px;
    width: auto;
    border: 5px solid black;
}

.mainFlex {
	display: flex;
	flex-direction: column;
	flex-grow: 2
}

.quizFlex ul {
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0px;
	flex-wrap: wrap; 
}

figcaption {
	text-align: center;
}

.myQuizLabel {
	text-align: center;
	font-family: "PT sans", sans;
	border-style: solid;
	border-color: black;
	background-color: #66ccff;
}

h3 {
	text-align: center;
}

h1 {
	margin: auto;
}
p {
	vertical-align: top;
	text-align: justify;
	display: block;
}

.quiz {
	float: left;
	width: 300px;
	height: 300px;
	background-color: #66ccff;
	border-style: solid;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	clear: both;
	margin-bottom: 30px;
	text-align: center;
}

.quiz h2 {
	font-family: "PT sans", sans;
}

.quiz a {
	text-decoration: none;
	font-family: "PT sans", sans;
}

.quiz a:hover {
	color: pink;
	transition: 0.3s;
}

.newQuiz {
	list-style: none;
	width: 300px;
	height: 300px;
	background-color: #66ccff;
	border-style: solid;
	border-color: black;
	border-size: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

aside {
	margin: 0.5%;
	padding: 0.5%;
	width: 30%;
	float: right;
	border-style: solid;
	background-color: #DDDDDD;
}
article {
	float: left;
	width: 53%;
	margin: 0.5%;
	padding: 0.5%;
	font-family: Helvetica, Times, serif;
	background-color: white;
}
nav {
	background-color: #DDDDFF;
	font-size: 30px;
	padding: 1%;
	margin: 2%;
}
nav p {
	margin: 0px;
	text-align: center;
}
nav h1 {
	margin: 0px;
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #444444;
	color: white;
	text-align: center;
	padding: 0.5%;
	margin-top: 30px;
}

#newQuiz {
	font-size: 100px;
	background-color: #66ccff;
	border-style: none;
	margin-left: 36%;
}

#newQuiz:hover {
	color: pink;
	cursor: pointer;
	transition: 0.3s;
}

.quiz a {
	border-right: solid;
	border-color: black;
	padding-right: 5px;
	font-size: 25px;
}

.best-bob-image {
    height: 150px;
    width: auto;
    border-style: solid;
    border-color: black;
    margin-bottom: 15px;
}

#edit {
	border-style: none;
}

.play {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-style: solid;
	border-color: black;
	margin-left: 33%;
	margin-right: 33%;
	padding: 50px;
	padding-top: 30px;
	margin-top: 3%;
}

.play h2 {
	font-family: "PT sans", sans;
	text-align: center;
}

.play h3 {
	font-family: "PT sans", sans;
	text-align: center;
}

.outerPlay {
	display: flex;
	justify-content: center;
}

.playForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.playInput {
	margin-bottom: 15px;
	margin-right: 25%;
	margin-left: 25%;
}

.playForm label {
	margin-left: 10%;
}

.figureFlex {
	display: flex;
	flex-direction: column;
}

.figureFlex img {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 100px;
	margin-top: 20px;
}

.questionTextBox {
	height: 200px;
}

.play h3 {
	text-align: center;
}

.answerFlex {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: black;
	margin: 10px;
}

.answerGroupFlex {
	display: flex;
	justify-content: space-between;
}

.answerFlex input {
	margin-left: 10%;
	margin-right: 10%;
}

.editQuestionFlex {
	display: flex;
	flex-direction: column;
}

.editQuestion {
	border-style: solid;
	border-color: black;
	padding: 10px;
	width: 300px;
}

.flexContainer h2 {
	font-family: "PT sans", sans;
	text-align: center;
}

.editFlex {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: black;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

h2 {
	text-align: center;
}

.editFlexContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#homeButton {
	background-color: #ccffff;
	cursor: pointer;
	border-style: none;
	padding: 0;
	margin: 0;
	font-family: "PT sans", sans;
	font-size: 16px;
	color: -webkit-link;
}

#startButton {
	padding: 30px;
	background-color: white;
	cursor: pointer;
}

.startFlex {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

.my_img {
	width: 400px;
	height: auto;
	margin-bottom: 20px;
}

.liveQFlex {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-color: black;
	align-items: center;
	margin-top: 30px;
}

.answerTable {
	display: flex;
	flex-direction: column;
	width: 700px;
	align-items: center;
}

.twoGroup {
	display: flex;
	margin-bottom: 20px;
}

.liveQFlex h1 {
	margin-bottom: 30px;
}

.twoGroup button {
	width: 300px;
	height: 100px;
	overflow: auto;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
}

.procButton {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}